body {
    background-image: linear-gradient(to bottom right, #014f9d 10%, #1cc7f1 100%);
    color: #ffffff;
    min-height: 100vh;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

h2 {
    text-align: center;
    color: #f7cf73;
}

h3 {
    text-align: center;
    color: #f7cf73;
}


.post {
    border: 3px solid #4d4d4d;
    text-align: left;
    padding: 10px;
}

a {
    color: #ffffff;
}

h4 {
    color: #f7cf73;
    display:inline

}
